body {
    background-color: rgb(230, 230, 230);
    font-family: Roboto, Arial;
    padding: 0px;
    margin: 0px;
}


#main-logo {
    display: flex;
    justify-content: center;
    height: 125px;
    padding-top: 0px;
  
} 

#navbar {
    font-size: 18px;
    font-family: Righteous, Arial;
}


#footbar-buttons {
    padding-top: 50px;
    padding-bottom: 50px;
    color: brown;
    text-align: center;
}


#footer {
    height: 100px;
    position: fixed;
    background-color: rgb(241, 241, 241);
    border-top-style: solid;
    border-top-width: 0.1px;
    border-top-color: rgb(158, 153, 153);
    font-family: Righteous, Arial;
    
} 